body{
    background: linear-gradient(135deg, #6C63FF, #3A3A58);   
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
        min-height: 100vh;
}


.container{
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
    margin-top:2vw;
    border-radius: 4px;
    background-color: #2a2a2a;
    width: 55vw;
    height: 25vw;
}

.styleContainerQuestions{
    width: 52vw;
    height: 24vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.divH2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 6vw;
    margin-top: 8vw;
    background-color:  #2a2a2a;
    border: 2px solid white;
    border-radius: 5px;
}
.quizH2{
    color: white;
    font: bold;
    font-size: 4vw;
    margin: 0;
}

.btnStart{
    width: 20vw;
    height: 10vw;
    border-radius: 5px;
    margin-bottom: 10vw;
    background-color:#e8e8e8ee;
    border: 0000;
    color:#242424;
    font-size: 32px;
}


.questionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #242424;
    background-color: #e8e8e8ee;
    font-size: 16px;
    height: 5vw;
    width: 50vw;
    border-radius: 5px;
}

.alternativesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e8e8e8ee;
    border-radius: 5px;
    height: 10vw;
}


.alternativeButton {
    background-color: #242424;
    color: white;
    gap: 10px;
    border-radius: 5px;
    border: 0000;
    width: 50vw;
    height: 4vw;
    margin: 7px;
    font-size: 24px;
    cursor: pointer;
}


.divFinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.quizCompleted{
    font-size: 35px;
    color:#e8e8e8ee;
}

.scoreStyle{
    font-size: 25px;
    color:#e8e8e8ee;
}

.divButtonReload{
    margin-top: 14px;
}

.buttonReload{
     width: 12vw;
    height: 3vw;
    border-radius: 5px;
    background-color:#e8e8e8ee;
    border: 0000;
    color:#242424;
    font-size: 22px;
}

@media (max-width: 768px) {

.divH2{
    width: 60vw;
    height: 16vw;
    margin-top: 30vw;
    margin-bottom: 15vw;
}

.quizH2{
    font-size: 8vw;
}

.container{
width: 90vw;
height: 105vw;
}

.styleContainerQuestions{
    width: 75vw;
    height: 85vw;
}

.btnStart{
    font-size: 5vw;
    width: 44vw;
    height: 14vw;
}

.divNextBtn{
    align-items: center;
}

.questionH2{
    font-size: 30px;
}

.buttonReload{
     width: 10vw;
    height: 5vw;
    border-radius: 5px;
    background-color:#e8e8e8ee;
    border: 0000;
    color:#242424;
    font-size: 24px;
}

.quizCompleted{
    font-size: 38px;    
}

.scoreStyle{
    font-size: 29px;
}

}