body{
    background-color: #2b2d42;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
    margin-top:2vw;
    background-color: #484c69;
    width: 55vw;
    height: 25vw;
    border: 3px solid #9932cc;
}

.styleContainerQuestions{
    width: 52vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.divH2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31vw;
    height: 5vw;
    margin-top: 8vw;
    background-color: #9932cc;
    border-radius: 5px;
}
.quizH2{
    color: white;
    font: bold;
    font-size: 4vw;
    margin: 0;
}

.btnStart{
    width: 10vw;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color:#9932cc;
    border: 0000;
    color: white;
}

.divNextBtn{
    justify-content: flex-end;
}

.nextButton{
    background-color:#9932cc;
    color: white;
    width: 8vw;
    height: 25px;
    border: 0000;
    border-radius: 4px;
    margin-bottom: 12px;
}

.questionH2{
    color: white; 
    font-size: 3 0px;
}

.divCheckbox{  
    margin-bottom: 30px;
    display: flex;
    background-color: #484C69;
}

.checkbox{
    size: 70px;
    background-color:#484C69; 
}

.labelCheck {
    color: white;
    font-size: 20px;
}

.divFinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.quizCompleted{
    font-size: 35px;
    color: #2b2d42;
}

.scoreStyle{
    font-size: 25px;
    color: #2b2d42;
}

.divButtonReload{
    margin-top: 14px;
}

.buttonReload{
    color: white;
    width: 9vw;
    height: 25px;
    background-color: #9932cc;
    border:  0000;
    border-radius: 5px;
}

@media (max-width: 768px) {

.divH2{
    width: 60vw;
    height: 16vw;
    margin-top: 30vw;
    margin-bottom: 15vw;
}

.quizH2{
    font-size: 8vw;
}

.container{
width: 90vw;
height: 105vw;
}

.styleContainerQuestions{
    width: 75vw;
    height: 85vw;
}

.btnStart{
    font-size: 5vw;
    width: 44vw;
    height: 14vw;
}

.divNextBtn{
    align-items: center;
}
.nextButton{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 30vw;
    height: 8vw;
    font-size: 6vw ;
}

.questionH2{
    font-size: 30px;
}

.checkbox{
    size: 120px;
}

.labelCheck {
    color: white;
    font-size: 24px;
}

.buttonReload{
    color: white;
    width: 30vw;
    height: 10vw;
    background-color: #9932cc;
    border:  0000;
    border-radius: 5px;
}

.quizCompleted{
    font-size: 38px;    
}

.scoreStyle{
    font-size: 29px;
}

}